<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.QuickMem"
            tools:targetApi="31">
        <activity
                android:name=".ui.activities.learn.TrueFalseFlashCardsActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.set.AddFlashCardToClassActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.group.EditClassActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.group.AddMemberActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.learn.QuizFolderActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.set.EditFlashCardActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.set.ViewSetActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.search.ViewSearchActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.classes.ViewClassActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.set.AddFlashCardActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.folder.ViewFolderActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.learn.SelectDefineActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.profile.change.ChangePasswordActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.profile.change.ChangeEmailActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.profile.change.ChangeUsernameActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.folder.AddToFolderActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.group.AddToClassActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.learn.QuizActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.learn.LearnActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.profile.SettingsActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.profile.CoursesActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.create.CreateClassActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.create.CreateFolderActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.create.CreateSetActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.MainActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustNothing"/>
        <activity
                android:name=".ui.activities.auth.signup.SignUpActivity"
                android:exported="false"
                android:theme="@style/AppBottomSheetDialogTheme"/>
        <activity
                android:name=".ui.activities.auth.signin.SignInActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustNothing"/>
        <activity
                android:name=".ui.activities.auth.AuthenticationActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>